<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="com.zab.question">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 对试题类别控制请求 -->
	<bean name="gategoryServie" class="com.zab.question.service.impl.GategoryServiceImpl">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>

	<bean name="categoryDao" class="com.zab.question.dao.impl.CategoryDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 用户模块控制请求 -->
	<bean name="userService" class="com.zab.question.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="userDao" class="com.zab.question.dao.impl.UserDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 简答题模块控制请求 -->
	<bean name="subjectService" class="com.zab.question.service.impl.SubjectServiceImpl">
		<property name="subjectDao" ref="subjectDao"></property>
	</bean>
	<bean name="subjectDao" class="com.zab.question.dao.impl.SubjectDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/d_question" />
		<property name="username" value="root" />
		<property name="password" value="zab19850206" />
	</bean>



</beans>  